@{
    ViewBag.Title = "Informatii";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p> În sens larg, prin elearning (sau e-learning) se întelege totalitatea situatiilor educationale în care se utilizeaza 
    semnificativ mijloacele tehnologiei informatiei si comunicarii. Termenul, preluat din literatura anglo-saxona, a fost 
    extins de la sensul primar, etimologic, de învatare prin mijloace electronice, acoperind acum aria de intersectie a 
    actiunilor educative cu mijloacele informatice moderne. Definit astfel, mai mult ca e-education, aria semantica a 
    conceptului e-learning interfereaza cu si se suprapune indefinit variabil pe o multitudine de termeni ce surprind 
    varietatea experientelor didactice ce pot beneficia de suport tehnologic: instruire asistata/ mediata de calculator, 
    digital/ mobile/ online learning/ education, instruire prin multimedia etc. Sub denumirea de software didactic/ educational, 
    o gama larga de materiale electronice (pe suport digital/ multimedia) sunt dezvoltate pentru a simplifica procesul de educatie: 
    harti, dictionare, enciclopedii, filme didactice, prezentari în diverse formate, carti (e-books), teste, tutoriale, simulari, 
    software ce formeaza abilitati, software de exersare, jocuri didactice etc. Computerul si materialele electronice/ multimedia 
    sunt utilizate ca suport în predare, învatare, evaluare sau ca mijloc de comunicare (pentru realizarea unor sarcini individuale etc).</p>
