@{
    //ViewBag.Title = "Echipa";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Oprea Bogdan<br />
    Perjaru Andrei<br />
    Plesan Alexandru<br />
    Radulescu Anda<br />
    Stanica Gabriel<br />
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@