
@{
    ViewBag.Title = "Materiale";
}

<h2>Materiale</h2>

<table>
<tr>
<td style="vertical-align: top; line-height: normal;">
<h3>Anul I</h3><br />
<ul>
<li>Analiza matematica</li><br />
<li>Algebra</li><br />
<li>Programarea calculatoarelor</li><br />
<li>Proiectare asistata de calculator</li><br />
<li>Fizica</li><br />
<li>Proiectare logica</li><br />
<li>Matematici speciale</li><br />
<li>Calcul numeric</li><br />
<li>Bazele electrotehnicii</li><br />
<li>Structuri de date si algoritmi</li><br />
<li>Tehnici de programare</li><br />
<li>Programare orientata pe obiecte</li><br />
</ul>
</td>
<td style="vertical-align: top; line-height: normal;">
<h3>Anul II</h3><br />
<ul>
<li>Probabilitati si statistica</li><br />
<li>Elemente de electronica</li><br />
<li>Grafica pe calculator</li><br />
<li>Fundamente ale retelelor de calculatoare</li><br />
<li>Baze de date</li><br />
<li>Managementul proiectelor</li><br />
<li>Elemente avansate de programare</li><br />
<li>Electronica digitala</li><br />
<li>Calculatoare numerice</li><br />
<li>Teoria sistemelor</li><br />
<li>Fundamente ale rutarii in retea</li><br />
<li>Educatie antreprenoriala</li><br />
</ul>
</td>

<td style="vertical-align: top; line-height: normal;"><h3>Anul III</h3><br />
<ul>
<li>Proiectarea bazelor de date</li><br />
<li>Sisteme de operare</li><br />
<li>Arhitectura sistemelor de calcul</li><br />
<li>Inteligenta artificiala</li><br />
<li>Sisteme cu microprocesoare</li><br />
<li>Arhitectura sistemelor paralele</li><br />
<li>Metode de dezvoltare software</li><br />
</ul>
</td>
<td style="vertical-align: top; line-height: normal;">
<h3>Anul IV</h3><br />
<ul>
<li>Sisteme distribuite</li><br />
<li>Ingineria programarii</li><br />
<li>Dezvoltarea aplicatiilor WEB</li><br />
<li>Compilatoare si translatoare</li><br />
<li>Testarea sistemelor software</li><br />
<li>Comert electronic</li><br />
</ul></td>
</tr></table>